@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Antic&family=Kanit:wght@500&family=M+PLUS+1p:wght@100;300&family=Open+Sans&family=Roboto:wght@300&display=swap");

/* Configure Tailwind to use imported fonts */
@layer base {
  /* Antic */
  html {
    font-family: "Antic", sans-serif;
    height: 100vh;
  }
  .app{
    height: 100vh;
    display: flex;
    flex-direction: column;

  
  }
  
  /* Kanit 500 */
  .kanit-500 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
  }

  /* M PLUS 1p 100 */
  .mplus-1p-100 {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 100;
  }

  /* M PLUS 1p 300 */
  .mplus-1p-300 {
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 300;
  }

  /* Open Sans */
  .open-sans {
    font-family: "Open Sans", sans-serif;
  }

  /* Roboto 300 */
  .roboto-300 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
}
 #root {
  height: 100%;
}
body {
  background-color: #040404;
  font-weight: bold;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}
body {
  margin: 0;
  min-height: 100vh;
  display: block;
}

.wrapper {
  min-height: 100%;
  height: auto !important; 
  height: 100%; 
  margin-bottom: -50px; /* Equal to the footer height */
} 

.footer {
  height: 50px; /* Set to the footer height */
}

.list {
  text-shadow: 0px 0px 10px #f4f4f4, 0px 0px 20px #f4f4f4, 0px 0px 40px #f4f4f4,
    0px 0px 80px #f4f4f4;
}

.image {
  filter: drop-shadow(0 0 10px #d28ce4);
  animation: glow 2s alternate infinite;
}
/* Your existing CSS */

.list:hover {
  color: transparent;
  text-shadow: none; /* Remove text-shadow on hover */
  background-image: linear-gradient(to right, #8a2387, #e94057, #f27121);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}
.button-text:hover{
  color: transparent;
  text-shadow: none; /* Remove text-shadow on hover */
  background-image: linear-gradient(to right, #8a2387, #e94057, #f27121);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px #d28ce4);
  }
  100% {
    filter: drop-shadow(0 0 25px #d28ce4);
  }
}


.background {
  display: grid;
  place-items: center;
 
}

.gallery {
  display: flex;
  left: calc(50%-330px);
}

.card {
  position: relative;
  left: 0px;
  width: 350px;
  height: 450px;
  border-radius: 8px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 12px black;
}
.card:not(:first-child) {
  margin-left: -45px;
}
.card:hover {
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;
}
.card:hover ~ .card {
  left: 55px;
}
.card img {
  height: 450px;
  object-fit: cover;
  border-radius: 4px;
}

.anim {
  animation: slideUp 1s linear forwards;
  animation-delay: 1s;
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media (max-width: 1024px) { 
  .gallery{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
 }
