* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 512px;
  height: 335px;
  background-color: rgb(228, 228, 83);
  display: grid;
  grid-template-columns:repeat(3,150px);
  display: flex;
 
  
}
p{
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: solid 2px;
  flex-basis: 100px;

}